<style>
.card {
  font-family: arial;
  font-size: 24px;
  text-align: center;
  color: black;
  background-color: white;
}
.header {
  font-size: 200%
}
.entry {
  text-align: left;
}
.furigana {
  font-size: 100%;
  text-align: center;
  line-height: 1.25em;
  min-width: 1.75em;
  display: inline-block;
}
.example_sentence.box {
	text-align: left;
	margin: 0;
	padding: 0;
}
.example_sentence.clearfix {
	list-style: none;
  display: inline-block;
}
.example_sentence.furigana {
  display: block;
  font-size: 12px;
}
</style>
<div class='furigana'>
    {{Furigana}}
</div>
<div class='header'>
    {{Word}}<br>
</div>
<hr>
<div>
    {{Reading}}
</div>
<div>
    JLPT Level: {{JLPT}}
</div>
<hr>
<div class='entry'>
    {{Definitions}}
</div>
<hr>
<div class='entry'>
    {{Alternate Readings}}
</div>
<hr>
<div class='entry'>
    {{Kanji Meanings}}
</div>
<hr>
</div>
    {{Example Sentences}}
</div>
<hr>
<div class='entry'>
    <a href='{{Jisho Link}}'> Link: {{Jisho Link}} </a>
</div>